html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: "SegoeUI", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1457px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.active {
    color: $orange;
}

.btn {
    padding: 14px 29px 15px 29px;
    background-color: $orange;
    border-radius: 3px;
    border: none;
    transition: background-color 0.3s;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: rgba($orange, 0.7);
    }
}

.swiper-pagination{
    bottom: 14px !important;
}

.swiper-pagination-bullet {
    margin: 0 7px !important;
    width: 12px;
    height: 12px;
    background-color: #333;
    opacity: 1;

    &-active {
        background-color: $orange;
    }
}