.products {
    position: relative;
    padding: 70px 0 76px;
    text-align: center;
    background-image: url("../../images/products-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;

    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1298px;
        width: 100%;
        height: 2px;
        background-color: #4d4d4d;
    }

    @include maxw767{
        padding: 45px 0 51px;
    }

    &__title {
        margin-bottom: 41px;
        font-size: 36px;
        letter-spacing: 4px;
        font-weight: 700;
        text-transform: uppercase;

        @include maxw1205{
            margin-bottom: 30px;
        }

        @include maxw576{
            font-size: 26px;
        }
    }

    &__text {
        margin: 0 auto 50px;
        max-width: 945px;
        width: 100%;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.4px;

        @include maxw1205 {
            max-width: 850px;
            font-size: 18px;
            line-height: 28px;
        }

        @include maxw992{
            max-width: 730px;
        }
    }

    &__inner {
        justify-content: space-between;

        @include maxw992{
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }

    &__item {
        position: relative;
        max-width: 320px;
        width: 100%;
        height: 399px;
        padding: 159px 50px 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

        &:hover .products__info {
            display: block;
        }

        &:hover .products__name{
            display: none;
        }

        &+&{
            margin-left: 15px;
            @include maxw992{
                margin-left: 0;
            }
        }

        @include maxw1400{
            padding: 159px 18px 0;
        }

        @include maxw992{
            margin-bottom: 25px;
            max-width: 40%;
        }

        @include maxw767{
            max-width: 80%;
        }
    }

    &__name {
        font-size: 24px;
        line-height: 39px;
        letter-spacing: 3px;
        font-weight: 900;
        text-transform: uppercase;

        &--hover{
            display: block !important;
            margin-bottom: 16px;
            font-size: 19px;
            letter-spacing: 0.92px;
        }
        
        @include maxw1400 {
            letter-spacing: 2px;
            font-size: 22px;
            line-height: 32px;
        }
    }

    &__info {
        position: absolute;
        z-index: 10;
        display: none;
        padding: 67px 38px 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(black, 0.75);

        @include maxw1400{
            padding: 40px 28px 0;
        }

        @include maxw992{
            padding: 30px 15px 0;
        }
    }

    &__icon {
        margin: 0 auto 20px;
        width: 63px;
        height: 64px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__descr{
        margin: 0 0 20px 6px;
        font-size: 14px;
        letter-spacing: 0.27px;
        line-height: 24px;
    }

    &__btn{
        margin-left: 5px;
        padding: 8px 23px 10px 23px;
        font-size: 12px;
        letter-spacing: 1.25px;
    }
}